* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lexend Deca", sans-serif;
	text-decoration: none;
	scroll-behavior: smooth;
}
:root {
	--primary-bg-color: #111827;
	--secondary-bg-color: #020617;
	--light-yellow-color: #facc15;
	--dark-yellow-color: #eab308;
	--gray-color: #9ca3af;
	--custom-white: #f3f4f6;
}

html {
	overflow-x: hidden;
}
body {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.container {
	width: 1110px;
	margin: 0 auto;
}
.backgroundColorSecondary {
	background-color: var(--secondary-bg-color);
}
.backgroundColorPrimary {
	background-color: var(--primary-bg-color);
}
.button {
	color: var(--primary-bg-color);
	background-color: var(--dark-yellow-color);
	padding: 8px 20px;
	border-radius: 4px;
	width: 129px;
	margin-top: 24px;
}
p {
	color: var(--gray-color);
}
/*----------------------------*/
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 0;
}
.header ul {
	display: flex;
	gap: 27px;
	list-style: none;
}
.header ul li a {
	color: var(--gray-color);
	text-transform: uppercase;
}
.header ul li:first-child a {
	color: var(--custom-white);
}
.hamburgerMenu {
	display: none;
}
.hamburgerMenu i {
	cursor: pointer;
}
/*-----------------------------*/
.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 96px 0;
	line-height: 1.688rem;
	height: 620px;
	gap: 10px;
}
.hero .heroText {
	display: flex;
	flex-direction: column;
	max-width: 466px;
}
.hero .heroText h1 {
	color: var(--custom-white);
	font-size: 2.625rem;
	padding: 38px 0 24px 0;
}
.hero .heroText .welcomeSpan {
	color: var(--dark-yellow-color);
}
.hero .button {
	background-color: var(--light-yellow-color);
}

/*----------------------------*/
.aboutMe {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 96px 0;
	line-height: 1.688rem;
	height: 700px;
	gap: 50px;
}
.aboutMeText {
	max-width: 509px;
	display: flex;
	flex-direction: column;
	padding-bottom: 50px;
}
.aboutMeButton {
	padding: 16px 20px;
	color: var(--secondary-bg-color);
	margin-top: 40px;
}
.aboutMe h1 {
	color: var(--custom-white);
	font-size: 2.625rem;
	padding: 38px 0 24px 0;
	margin-bottom: 32px;
}
.titleSpan {
	color: var(--dark-yellow-color);
}
.aboutMe .relative {
	position: relative;
}
.aboutMe .absolute {
	position: absolute;
	bottom: 35px;
	left: 35px;
}
.aboutMe .aboutMeParagraphMargin {
	margin-top: 18px;
}
/*-----------------------------*/
.skills {
	padding: 96px 0;
	display: flex;
	flex-direction: column;
	line-height: 1.688rem;
}
.skills h1 {
	color: var(--custom-white);
	font-size: 2.625rem;
	padding: 38px 0 24px 0;
}
.skills p {
	color: var(--gray-color);
	margin-top: 24px;
}
.skillsText {
	max-width: 730px;
}
.skills .cards {
	display: flex;
	align-items: center;
	gap: 30px;
	padding-top: 56px;
	justify-content: center;
}
.skills .cards li {
	font-size: 20px;
}
.skills .cards i {
	font-size: 27px;
}
.skills .card {
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	align-items: center;
	height: 342px;
	padding: 32px;
	width: 366px;
	gap: 32px;
}
.skills .card h2 {
	color: var(--custom-white);
}
.skills .card ul {
	color: var(--gray-color);
	list-style: none;
}
/*--------------------------------*/
.portfolio {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	line-height: 1.688rem;
	padding: 96px 0;
}
.portfolio .portfolioText {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 80px;
	max-width: 461px;
}
.portfolio .portfolioText h1 {
	font-size: 2.625rem;
	color: var(--custom-white);
	padding-bottom: 40px;
}
.websitesContainer {
	display: flex;
	gap: 27px;
	justify-content: center;
	align-items: center;
}
.secondaryWebsites {
	justify-content: space-around;
}
.secondaryWebsites {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 22px;
}
@media only screen and (max-width: 1120px) {
	.container {
		width: 100%;
		padding: 0 10px;
	}
	.heroImage,
	.aboutMeSquare,
	.aboutMeImg {
		width: 350px;
	}
	.header {
		padding-top: 16px;
		padding-bottom: 16px;
	}
	.hero {
		padding-top: 96px;
		padding-bottom: 96px;
	}
	.skills {
		margin-bottom: 96px;
	}
	.portfolioText {
		padding-top: 96px;
	}
	.portfolio .websitesContainer {
		flex-direction: column;
		padding-bottom: 96px;
	}
	.portfolio .secondaryWebsites {
		max-width: 540px;
	}
}
@media only screen and (max-width: 980px) {
	.container {
		width: 100%;
		padding: 0 10px;
	}
	.header {
		padding-top: 16px;
		padding-bottom: 16px;
	}
	.hero {
		padding-top: 96px;
		padding-bottom: 96px;
	}
}
@media only screen and (max-width: 768px) {
	p {
		font-size: 0.9rem;
	}
	.heroText h1,
	.aboutMeText h1,
	.skills h1,
	.portfolio h1 {
		font-size: 2.2rem !important;
	}
	.header ul {
		display: none;
		flex-direction: column;
		align-items: center;
		position: absolute;
		top: 60px;
		left: 0;
		right: 0;
		background-color: var(--secondary-bg-color);
		z-index: 1;
	}
	.heroImage,
	.aboutMeSquare,
	.aboutMeImg {
		width: 300px;
	}

	.header ul li {
		padding: 16px 0;
		width: 100%;
		text-align: center;
	}

	.header ul.show {
		display: flex;
	}

	.hamburgerMenu {
		display: block;
	}
	.welcomeSpan {
		font-size: 0.9rem;
	}
	.hero {
		height: 500px;
	}
	.cards {
		flex-direction: column;
	}
}
@media only screen and (max-width: 614px) {
	p {
		font-size: 0.8rem;
	}
	.heroText h1,
	.skills h1,
	.porfolio h1 {
		font-size: 2rem !important;
	}
	.hero {
		flex-direction: column;
		align-items: center;
		padding-top: 30px;
		padding-bottom: 30px;
		height: 620px;
	}
	.heroText {
		justify-content: center;
		align-items: center;
	}
	.heroImage {
		padding: 20px 0;
	}
	.button {
		padding: 6px 16px;
	}
	.aboutMe {
		flex-direction: column;
		height: 780px;
		justify-content: center;
		gap: 10px;
	}
	.aboutMe h1 {
		font-size: 2.2rem !important;
		padding-bottom: 10px;
	}
	.aboutMeSquare {
		padding-top: 50px;
	}
	.aboutMe .absolute {
		bottom: 25px;
		left: 25px;
	}
	.portfolio .mainWebsite {
		width: 370px;
	}
	.portfolio .mainWebsite img {
		width: 100%;
	}
	.secondaryWebsites {
		justify-content: center;
	}
	.secondaryWebsites .secondaryWebsite {
		width: 173px;
	}
	.secondaryWebsites .secondaryWebsite img {
		width: 100%;
	}
}
@media only screen and (max-width: 376px) {
	.heroImage,
	.aboutMeSquare,
	.aboutMeImg {
		width: 250px;
	}
	.aboutMe .absolute {
		bottom: 20px;
		left: 20px;
	}
	.skills .card {
		width: 310px;
	}
	.portfolio .mainWebsite {
		width: 310px;
	}
	.portfolio .secondaryWebsite {
		width: 310px;
	}
}
