:root {
	--primary-bg-color: #111827;
	--secondary-bg-color: #020617;
	--light-yellow-color: #facc15;
	--dark-yellow-color: #eab308;
	--gray-color: #9ca3af;
	--custom-white: #f3f4f6;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lexend Deca", sans-serif;
	line-height: 1.688rem;
}
.container {
	width: 1320px;
	margin: 0 auto;
}
.backgroundColorSecondary {
	background-color: var(--secondary-bg-color);
}
.backgroundColorPrimary {
	background-color: var(--primary-bg-color);
}
.button {
	color: var(--primary-bg-color);
	background-color: var(--dark-yellow-color);
	padding: 8px 20px;
	border-radius: 4px;
	width: 129px;
	text-decoration: none;
	margin-top: 24px;
}
/*----------------------------*/
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px;
}
.header ul {
	display: flex;
	gap: 27px;
	list-style: none;
}
.header ul li a {
	text-decoration: none;
	color: var(--gray-color);
	text-transform: uppercase;
}
.header ul li:first-child a {
	color: var(--custom-white);
}
/*-----------------------------*/
.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 96px 0;
}
.hero .heroText {
	display: flex;
	flex-direction: column;
	max-width: 466px;
}
.hero .heroText h1 {
	color: var(--custom-white);
	font-size: 2.625rem;
	padding: 38px 0 24px 0;
}
.hero .heroText p {
	color: var(--gray-color);
}
.hero .heroText .welcomeSpan {
	color: var(--dark-yellow-color);
}
.hero .button {
	background-color: var(--light-yellow-color);
}

/*----------------------------*/
.aboutMe {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 96px 0;
}
.aboutMeText {
	max-width: 509px;
	display: flex;
	flex-direction: column;
}
.aboutMeButton {
	padding: 16px 20px;
	color: var(--secondary-bg-color);
	margin-top: 40px;
}
.aboutMe h1 {
	color: var(--custom-white);
	font-size: 2.625rem;
	padding: 38px 0 24px 0;
	margin-bottom: 32px;
}
.aboutMe .titleSpan {
	color: var(--dark-yellow-color);
}
.aboutMe p {
	color: var(--gray-color);
}
